

div, ul, li, p, h1, h2, h3, h4, h5, h6, input, img, a, dl, dt, dd, header, main, footer {
  box-sizing: border-box;
}

body, html {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  -webkit-overflow-scrolling: touch;
}

li {
  list-style: normal;
}

em {
  font-style: normal;
}
input {
  letter-spacing: 0px;
  outline: none;
  border: 0;
}

img {
  display: block;
  height: auto;
}

.wrap {
  width: 100%;
  max-width: 640px;
  margin: 0 auto;
}